#content {

  background-image: linear-gradient(to right, #7D97B1 ,#fff);
  font-family: 'Recursive', sans-serif;
  color: #003568;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003568;
    font-size: 24px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#9c9c9c;
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
  }

  #welcome-section {
    text-align: center;
    margin-top: 320px;
    font-weight: bold;
  }

  #my-job {
    text-align: right;
    margin-right: 680px;
    /* font-weight: bold; */
    font-style: italic;
  }